<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio Admin</title>
</head>
<body>
    <h1>Inicio</h1>
    <ul>
        <li><a href="#">registrar puntos a un cliente (ver bien el titulo)</a></li>
        <li><a href="#">crear publicaciones, con publicaciones son avisos, ofertas, promociones</a></li>
        <li><a href="#">administrar publicaciones, editarlas o eliminarlas</a></li>
        <li><a href="#">administrar clientes- ver historial de puntos asignados, eliminar, modificar datos, modificar puntos</a></li>
    </ul>
</body>
</html>